body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #000000;
    color: white;
font-family: Arial, sans-serif;
}


img {
    max-width: 100%;
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
    user-drag: none;
    max-height: calc(100vh - 50px);
}

.button {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: 10px 20px;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    color: #fff;
    background-color: #2c495a;
    border-color: #232c3e;
}

.pad {
    margin: 10px;
}

::placeholder {
    /* Most modern browsers support this now. */
    color: white;
}


.textBox {
    background-color: lightgray;
    width: 20px;
    bottom: 0;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
